.banner-head {
    img {
        width: 100%;
    }
}

.img-parallax {
    /* The image used */
    background-image: url('../../img/banner.png');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 991px) {
        background-size: contain;
    }
}

.green-title {
    color: $green;
    font-size: 2rem;
    font-weight: 700;
    @extend %font-open-sans;
}

section {
    .title {
        font-size: 3.5rem;
        font-weight: 700;
        @extend %font-open-sans;
    }
}

.map {
    iframe {
        height: 450px;
        width: 100%;
    }
}

.panelist {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.italo {
    background-image: url('../../img/Italo.jpg');
}
.sarah {
    background-image: url('../../img/sarah.jpg');
}

.icons a {
    font-size: 2rem;
    color: #fff;
}