// Colors variables
$color: #6e3667;
$dark-color: #3A12B2;
$light-color: #2abbec;

$orange: #FF7900;
$green: #88d317;
$gray: #a6a6a6;
$dark-gray: #535353;

$font-color: #000;
$light-font-color: #fff;
$light-blue-font-color: #549cb4;

$success: #009200;
$error: #f00;
$light-error: #da5d5d;

// Background variables
$background: #fff;