// Utility variables
.gama-bg {
    color: $light-font-color;
    background-color: $color;
    a {
        color: $light-font-color;
    }
}

.gama-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %responsive-flex;
}

.white-bg {
    background-color: $light-font-color;
    color: $font-color;
}

.no-box-shadow {
    box-shadow: none !important;
}

.no-border {
    border: none !important;
}

.no-grow {
    flex-grow: initial;
}

.no-radius {
    border-radius: 0;
}

.light-blue-text {
    color: $light-blue-font-color;
}

.hide {
    display: none;
}

.gray-bg {
    color: $light-font-color !important;
    background-color: $gray;
}

.dark-gray-bg {
    background-color: $dark-gray;
}

.green-bg {
    color: $light-font-color !important;
    background-color: $green;
}

%responsive-flex {
    @media (max-width: 991px) {
        flex-direction: column;
    }
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
    }
    &:placeholder-shown {
        color: $color;
    }
}